/* .App {
  text-align: center;
}



 */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1505832018823-50331d70d237?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2164&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 16px 0;
  color: white;
}

.student-card {
  background: #fff;
  border-radius: 2px;
  display: flex;
  max-height: 200px;
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

img {
  width: 30%;
}

.class-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.student-info {
  text-align: start;
  padding-left: 24px;
}

.display {
  background: rgb(207, 76, 76);
  border-radius: 2px;
  display: flex;
  max-height: 200px;
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
